.winner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: linear-gradient(0, #000000a4, #000000a4);
}

.text {
  background-color: #ebc183;
  border-radius: 3px;
  padding: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text > h2,
.text > footer,
.text .win {
  text-align: center;
}

.text .win {
  font-size: 80px;
}
